/*reset rulez*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.navBar{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.btn{
    /*crea general rule per btn*/
}

/*fine header*/



/*main*/
main{
    padding-top: 100px;
}

section{
    display: flex;
}

.bigContainer{
    width: 80%;
    margin: auto;
}

.smallContainer{
    width: 70%;
}

/*fine main*/