/*reset rulez*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.navBar{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.btn{
    /*crea general rule per btn*/
}

/*fine header*/



/*main*/
main{
    padding-top: 100px;
}

section{
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}

.bigContainer{
    width: 80%;
    margin: auto;
}

.smallContainer{
    width: 70%;
    margin: auto;
}


.bigTitle{
    font-size: 40px;
}

.oneRow{
    width: 100%
} 

.twoColumns{
    width: 50%;
    padding: 20px;
}

.threeColumns{
    width: calc(100% / 3);
    padding: 20px;
}


article{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

/*fine main*/