/*reset rulez*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*general rules*/

.dFlex{
    display: flex;
}

.spaceBetween{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.noWrap{
    flex-wrap: nowrap;
}

.w10{
width: 10%;
}

.w20{
    width: 20%;
}


.w30{
    width: 30%;
}


.w40{
    width: 40%;
}


.w50{
    width: 50%;
}


.w60{
    width: 60%;
}


.w70{
    width: 70%;
}


.w80{
    width: 80%;
}


.w90{
    width: 90%;
}


.w100{
    width: 100%;
}

.twoColumns{
    width: 50%;
    padding: 20px;
}

.threeColumns{
    width: calc(100% / 3);
    padding: 20px;
}

.scroll{
    overflow: auto;
}


body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

/*header*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.navBar{
    justify-content: center;
    /* align-items: center; */
}

/* .btn{
    crea general rule per btn
} */

/*fine header*/



/*main*/
main{
    padding-top: 100px;
}

.bigContainer{
    width: 80%;
    margin: auto;
}

.smallContainer{
    width: 70%;
    margin: auto;
}


.bigTitle{
    font-size: 40px;
}


.twoColumns{
    width: 50%;
    padding: 20px;
}

.threeColumns{
    width: calc(100% / 3);
    padding: 20px;
}



.bigCube{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.smallCube{
   width: 50%;
   height: 50%;
}




.question, .answer{
    padding: 10px;
}

section h2.bottomBorder, .questionAnswer.bottomBorder{
    border-bottom: 1px solid black;
}


/*fine main*/

/*inizio footer*/

footer nav{
    padding-top:50px;
}

footer .bigContainer > ul{
    width: calc(100% / 5);
    list-style: none;
}








/*fine footer*/