/*reset rulez*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*general rules*/

.dBlock{
    display: block;
}

.dInlineBlock{
    display: Inline-block;
}

.dFlex{
    display: flex;
}

.columnDirection{
    flex-direction: column;
}

.spaceBetween{
    justify-content: space-between;
}

.alignCenter{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.noWrap{
    flex-wrap: nowrap;
}

.pRelative{
    position: relative;
}

.pAbsolute{
    position: absolute;
}

.w10{
    width: 10%;
}

.w20{
    width: 20%;
}


.w30{
    width: 30%;
}


.w40{
    width: 40%;
}


.w50{
    width: 50%;
}


.w60{
    width: 60%;
}


.w70{
    width: 70%;
}


.w80{
    width: 80%;
}


.w90{
    width: 90%;
}


.w100{
    width: 100%;
}

.twoColumns{
    width: 50%;
    padding: 20px;
}

.threeColumns{
    width: calc(100% / 3);
}


.scroll{
    overflow: auto;
}


body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.fontSmall{
    font-size: 14px;
}

.bold{
    font-weight: bold;
}

.paddingTopBottom20{
    padding: 20px 0;
}

.paddingTopBottom100{
    padding: 100px 0;
}

.marginBottom20{
    margin-bottom: 20px;
}

.paddingBottom100{
    padding-bottom: 100px;
}

/*colori*/

.bgLightGreen{
    background-color: rgb(162, 211, 155);
}

.bgBrown{
    background-color: rgb(97, 8 ,43);
}

.bgRed{
    background-color: rgb(213, 0, 31);
}

.bgGrey{
    background-color: rgb(180, 208, 231);
}

.bgCyan{
    background-color: rgb(0, 147, 206);
}

.bgScarlett{
    background-color: rgb(255, 28, 28);
}

.bgBlueElectric{
    background-color: rgb(13, 36, 129);
}

.bgYellow{
    background-color: rgb(255, 216, 48);
}

.bgWhite{
    background-color: white;
}

.bgAzure{
    background-color:rgb( 180, 207, 231);
}

.bgLightGrey{
    background-color: rgb(245, 245, 245);
}

.bgBlack{
    background-color: rgb(0,0,0);
}

.whiteFont{
    color: white;
}

.greyFont{
    color: rgb( 143, 141, 141);
}

.blueFont{
    color:rgb(0 , 97, 255);
}


/*header*/

header{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo{
    width: 110px;
}

header > ul{
    list-style: none;
    padding: 0 10px;
}
header > ul > li{
    line-height: 60px;
}

header > ul > li.hoverBorder:hover{
    border-bottom: 1px solid rgb( 143, 141, 141);
}

header > ul > li > a{
    text-decoration: none;
    padding: 0 15px;
    color: rgb(10, 10, 10)
}

/*regole buttons*/

.btn{
    padding: 5px 10px;
    text-decoration: none;
    transition:color 1s, box-shadow 1s, opacity 1s;
}

.btn:hover{
    opacity: 0.8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.blueBtn{
    background-color: rgb(0 , 97, 255);
    color: white;
}

.transparentBtn{
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    border: 1px solid rgb(10, 10, 10);
}

.whiteBtn{
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
}

/*fine header*/



/*main*/


.bigContainer{
    width: 70%;
    margin: auto;
}

.smallContainer{
    width: 60%;
    margin: auto;
}

.bigTitle{
    font-size: 65px;
    padding:25px;
    line-height: 1.3em;
    font-weight: 800;
}

#jumbotron{
    transform: translateY(175px);
}
#jumbotron .jumboimg {
    width: 100%;
}

.info{
    padding: 0 20px 20px 20px;
}

.arrow{
    width: 50px;
    height: 50px;
}


#centralSection{
    padding-top: 150px;
}

.mediumTitle{
    font-size: 40px;
    line-height: 1.5em;
}


.cerchioBlu{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 7px solid rgb(0 , 97, 255);
    border-radius: 50%;
    vertical-align:middle ;
    transition:color 1s, box-shadow 1s, opacity 1s;
}

.cerchio{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 5px solid rgb(205, 205, 209);
    border-radius: 50%;
    vertical-align:middle ;
    transition:color 1s, box-shadow 1s, opacity 1s;

}



.cerchio:hover, .cerchioBlu:hover{
    opacity: 0.8;
    box-shadow: 0.5px 1px 2px 1px rgba(0, 0, 0, 0.5);
}


#radioButtons{
    padding: 0px 0 50px 0;
}

.opzione{
    padding: 0 50px 0 0;
}

.businessLabel{
    border-bottom:1px solid rgb( 180, 207, 231) ;
    text-align: center;
    padding:10px 0;
}

.offer{
    padding: 30px;
}

.offerSquare{
    line-height: 2rem;
    padding-bottom: 10px;
}
.centerTextAlignContainer{
    text-align: center;
}
.offer li{
    padding: 20px 0;
}

#tabella4{
    margin-top: 40px;
}
.tabella{
    border: 1px solid rgb( 180, 207, 231);
}

.tabella .pRelative{
    height: 200px;
}

.tabella .pRelative .offerSquare.pAbsolute{
    top: 50px;
    left: 50px;
}

.tabella .pRelative div.pAbsolute{
    bottom: 20px;
    left: 50px;
}

.tabella .pRelative a.pAbsolute{
    top: 50px;
    right: 50px;
}

#partnerFinder{
    padding: 50px 0;
}

#partnerFinder .info{
    padding: 50px;
}
#partnerFinder .info h2, #partnerFinder .info p{
    padding-bottom: 50px;
}

.titolino{
    font-size: 25px;
    line-height: 35px;
}

#functions .threeColumns{
    padding: 50px 30px;
}

#functions p{
    padding: 20px 20px;
}

#finalSlogan{
    padding: 100px 0;
}

#finalSlogan h2{
   padding-bottom: 50px; 
}


.bigCube{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.smallCube{
   width: 50%;
   height: 50%;
}

.sponsor{
    top:50%;
    left:50%;
    transform: translate(-100%, -100%);
    scale: 0.5;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(176deg) brightness(106%) contrast(102%);
}

#scrollCube{
    padding: 30px;
}
#scrollCube > p{
    padding: 30px 0;
}

.sponsorZoom{
    padding: 30px;
}

#provaGratuita h2{
    color: rgb(97, 5, 40);
}

#faq > div > div{
    border-top: 1px solid black;
}

.absoluteTopRight{
    top: 12%;
    right: 5%;
}





/*fine main*/

/*inizio footer*/
footer > nav{
    gap: 30px;
}

footer .bigContainer > ul{
    width: calc(100% / 5);
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer  ul  li:first-child{
    padding: 10px 0;
}

footer ul{
    line-height: 2em;
}

#footerBottom a{
    color:rgb( 143, 141, 141);
}

footer > nav > ul.hoverBorder:hover{
    border-bottom: 1px solid rgb(132, 128, 128);
}







/*fine footer*/